.grid-container {
  background-color: violet;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  /* grid-template-rows: 100px 200px auto; */
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-content: space-around;
  height: 400px;
  align-content: space-around;
}

.grid-child {
  background-color: tomato;
  border: 1px solid black;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

#grid-one {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; */
  /* grid-column: 1/3; */
  /* grid-column: 1 / span 2; */
}

/* #grid-one {
  grid-row: 1 / span 2;
} */

#grid-five {
  grid-area: 1/2/3/4;
}
