:root {
  --primary-color: #cadf65;
  --btn-color: blue;
  --text-color: rgb(212, 223, 184);
}

#fun {
  background-color: var(--primary-color);
  height: 200px;
  width: calc(100% - 200px);
}

a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 30px;
  margin: 20px;
  background-color: var(--btn-color);
}
