body {
  border: 1px solid red;
  /* padding: 10px; */
  /* padding: 10px 20px; */
  padding: 10px 20px 30px 40px;
}

div {
  border: 1px solid green;
  padding: 0px 15px 0px 15px;
}

p {
  border: 1px solid yellow;
  padding: 50px;
}
