div {
  width: 500px;
  height: 300px;
  border: 1px solid red;
  /* color: rgb(90, 92, 92);
  text-align: justify; */
  /* direction: rtl; */
  /* text-decoration: line-through; */
  /* text-transform: capitalize; */
  /* line-height: 50px; */
  /* text-indent: 50px; */
  /* letter-spacing: 3px; */
  /* word-spacing: 10px; */
  /* white-space: nowrap; */
  word-wrap: break-word;
}

#shadow {
  font-size: 100px;
  text-shadow: -5px -10px 6px red;
}

#text {
  width: 500px;
  border: 1px solid red;
  writing-mode: vertical-rl;
}
